body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    min-height: 100vh;
  }
  
  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    height: 1024px;
    width: 1024px;
    background-color: white;
    padding: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
img {
  object-fit: cover;
}

.item {
  border: 1px solid #000000;
}

 #item1, #item2 {
  grid-column: span 2;
 }